## CSV Data Import to a Database: Write a Python script that reads data from a CSV file containing user information (e.g., name, email) and inserts it into a SQLite database.

In [1]:
import pandas as pd
import sqlite3

In [2]:
df = pd.read_csv('sample-data.csv')

In [3]:
df

,SSN,gender,birthdate,maiden name,last name,first name,address,city,state,zip,phone,email,cc_type,CCN,cc_cvc,cc_expiredate
0,172-32-1176,m,4/21/1958,Smith,White,Johnson,10932 Bigge Rd,Menlo Park,CA,94025,408 496-7223,jwhite@domain.com,m,5270-4267-6450-5516,123,2010/06/25
1,514-14-8905,f,12/22/1944,Amaker,Borden,Ashley,4469 Sherman Street,Goff,KS,66428,785-939-6046,aborden@domain.com,m,5370-4638-8881-3020,713,2011/02/01
2,213-46-8915,f,4/21/1958,Pinson,Green,Marjorie,309 63rd St. #411,Oakland,CA,94618,415 986-7020,mgreen@domain.com,v,4916-9766-5240-6147,258,2009/02/25
3,524-02-7657,m,3/25/1962,Hall,Munsch,Jerome,2183 Roy Alley,Centennial,CO,80112,303-901-6123,jmunsch@domain.com,m,5180-3807-3679-8221,612,2010/03/01
4,489-36-8350,m,1964/09/06,Porter,Aragon,Robert,3181 White Oak Drive,Kansas City,MO,66215,816-645-6936,raragon@domain.com,v,4929-3813-3266-4295,911,2011/12/01
5,514-30-2668,f,1986/05/27,Nicholson,Russell,Jacki,3097 Better Street,Kansas City,MO,66215,913-227-6106,jrussell@domain.com,a,345389698201044,232,2010/01/01
6,505-88-5714,f,1963/09/23,Mcclain,Venson,Lillian,539 Kyle Street,Wood River,NE,68883,308-583-8759,lvenson@domain.com,d,30204861594838,471,2011/12/01
7,690-05-5315,m,1969/10/02,Kings,Conley,Thomas,570 Nancy Street,Morrisville,NC,27560,919-656-6779,tconley@domain.com,v,4916 4811 5814 8111,731,2010/10/01
8,646-44-9061,M,1978/01/12,Kurtz,Jackson,Charles,1074 Small Street,New York,NY,10011,212-847-4915,cjackson@domain.com,m,5218 0144 2703 9266,892,2011/11/01
9,421-37-1396,f,1980/04/09,Linden,Davis,Susan,4222 Bedford Street,Jasper,AL,35501,205-221-9156,sdavis@domain.com,v,4916 4034 9269 8783,33,2011/04/01
10,461-97-5660,f,1975/01/04,Kingdon,Watson,Gail,3414 Gore Street,Houston,TX,77002,713-547-3414,gwatson@domain.com,v,4532 1753 6071 1112,694,2011/09/01
11,660-03-8360,f,1953/07/11,Onwunli,Garrison,Lisa,515 Hillside Drive,Lake Charles,LA,70629,337-965-2982,lgarrison@domain.com,v,4539 5385 7425 5825,680,2011/06/01
12,751-01-2327,f,1968/02/16,Simpson,Renfro,Julie,4032 Arron Smith Drive,Kaunakakai,HI,96748,808-560-1638,jrenfro@domain.com,m,5325 3256 9519 6624,238,2009/03/01
13,559-81-1301,m,1952/01/20,Mcafee,Heard,James,2865 Driftwood Road,San Jose,CA,95129,408-370-0031,jheard@domain.com,v,4532 4220 6922 9909,311,2010/09/01
14,624-84-9181,m,1980/01/16,Frazier,Reyes,Danny,3500 Diane Street,San Luis Obispo,CA,93401,805-369-0464,dreyes@domain.com,v,4532 0065 1968 5602,713,2009/11/01
15,449-48-3135,m,1982/06/14,Feusier,Hall,Mark,4986 Chapel Street,Houston,TX,77077,281-597-5517,mhall@domain.com,v,4556 0072 1294 7415,953,2010/05/01
16,477-36-0282,m,1961/03/10,Vasquez,Mceachern,Monte,456 Oral Lake Road,Minneapolis,MN,55401,952-412-3707,mmceachern@domain.com,m,5527 1247 5046 7780,889,2009/03/01
17,458-02-6124,m,1955/09/20,Pennebaker,Diaz,Christopher,582 Thrash Trail,Dallas,TX,75247,903-624-9156,cdiaz@domain.com,m,5299 1561 5689 1938,584,2011/08/01
18,044-34-6954,m,1967/05/28,Simpson,Lowe,Tim,1620 Maxwell Street,East Hartford,CT,6108,860-755-0293,tlowe@domain.com,m,5144 8691 2776 1108,616,2011/10/01
19,587-03-2682,f,1958/10/24,Dickerson,Oyola,Lynette,2489 O Conner Street,Pascagoula,MS,39567,228-938-2056,loyola@domain.com,v,4532 9929 3036 9308,991,2011/07/01
20,421-90-3440,f,1953/07/17,Kroeger,Morrison,Adriane,4696 Retreat Avenue,Birmingham,AL,35209,205-276-1807,amorrison@domain.com,v,4539 0031 3703 0728,322,2009/12/01
21,451-80-3526,m,1950/06/09,Parmer,Santos,Thomas,173 Lunetta Street,Fort Worth,TX,76104,940-859-1393,tsantos@domain.com,v,4716 6984 4983 6160,767,2011/09/01
22,300-62-3266,m,1965/02/10,Spain,Faulkner,Victor,1843 Olive Street,Toledo,OH,43602,419-340-3832,vfaulkner@domain.com,m,5548 0246 6336 5664,276,2010/02/01
23,322-84-2281,m,1977/08/19,Miley,Iorio,Albert,4899 University Hill Road,Springfield,IL,62701,217-615-6419,aiorio@domain.com,v,4916 6734 7572 5015,347,2010/02/01
24,465-73-5022,f,1964/06/20,Summers,Kaminski,Teresa,1517 Gambler Lane,Houston,TX,77006,281-906-2148,tkaminski@domain.com,m,5399 0706 4128 0178,721,2009/10/01
25,612-20-6832,m,1979/08/18,Banas,Edwards,Rick,4254 Walkers Ridge Way,Gardena,CA,90248,626-991-3620,redwards@domain.com,m,5293 8502 0071 3058,701,2010/08/01
26,687-05-8365,f,1976/05/24,Robbins,Peacock,Stacey,3396 Nancy Street,Raleigh,NC,27612,919-571-2339,speacock@domain.com,m,5495 8602 4508 6804,436,2011/02/01
27,205-52-0027,f,1950/03/26,Sanford,Nelson,Agnes,4213 High Meadow Lane,Avoca,PA,18641,570-480-8704,anelson@domain.com,m,5413 4428 0145 0036,496,2010/02/01
28,404-12-2154,f,1984/09/21,Garcia,Townsend,Mireille,2877 Glen Street,Paducah,KY,42003,270-408-7254,mtownsend@domain.com,v,4539 8219 0484 7598,710,2011/03/01
29,151-32-2558,f,1952/11/19,Stockdale,Zwick,Rebecca,784 Beechwood Avenue,Piscataway,NJ,8854,908-814-6733,rzwick@domain.com,v,5252 5971 4219 4116,173,2011/02/01

In [4]:
name_email_df = df[['first name','last name', 'email']]
name_email_df

     first name  last name                  email
0       Johnson      White      jwhite@domain.com
1        Ashley     Borden     aborden@domain.com
2      Marjorie      Green      mgreen@domain.com
3        Jerome     Munsch     jmunsch@domain.com
4        Robert     Aragon     raragon@domain.com
5         Jacki    Russell    jrussell@domain.com
6       Lillian     Venson     lvenson@domain.com
7        Thomas     Conley     tconley@domain.com
8       Charles    Jackson    cjackson@domain.com
9         Susan      Davis      sdavis@domain.com
10         Gail     Watson     gwatson@domain.com
11         Lisa   Garrison   lgarrison@domain.com
12        Julie     Renfro     jrenfro@domain.com
13        James      Heard      jheard@domain.com
14        Danny      Reyes      dreyes@domain.com
15         Mark       Hall       mhall@domain.com
16        Monte  Mceachern  mmceachern@domain.com
17  Christopher       Diaz       cdiaz@domain.com
18          Tim       Lowe       tlowe@domain.com
19      Lynette      Oyola      loyola@domain.com
20      Adriane   Morrison   amorrison@domain.com
21       Thomas     Santos     tsantos@domain.com
22       Victor   Faulkner   vfaulkner@domain.com
23       Albert      Iorio      aiorio@domain.com
24       Teresa   Kaminski   tkaminski@domain.com
25         Rick    Edwards    redwards@domain.com
26       Stacey    Peacock    speacock@domain.com
27        Agnes     Nelson     anelson@domain.com
28     Mireille   Townsend   mtownsend@domain.com
29      Rebecca      Zwick      rzwick@domain.com

In [5]:
connect = sqlite3.connect('name_email_db.sqlite')


cursor = connect.cursor()


create_table_query = '''
CREATE TABLE IF NOT EXISTS name_email (id INTEGER PRIMARY KEY,first_name TEXT,last_name TEXT,email TEXT)
'''
cursor.execute(create_table_query)

for index, row in df.iterrows():
    insert_query = f'''
    INSERT INTO name_email (first_name, last_name, email)
    VALUES (?, ?, ?)
    '''
    cursor.execute(insert_query, (row['first name'], row['last name'], row['email']))


connect.commit()
connect.close()

In [6]:

connect = sqlite3.connect('name_email_db.sqlite')
cursor = connect.cursor()

# Fetch all records from the table
cursor.execute('SELECT * FROM name_email')
rows = cursor.fetchall()

# Print the fetched data
for row in rows:
    print(row)  # This will print each row as a tuple

# Close the connection
connect.close()

(1, 'Johnson', 'White', 'jwhite@domain.com')
(2, 'Ashley', 'Borden', 'aborden@domain.com')
(3, 'Marjorie', 'Green', 'mgreen@domain.com')
(4, 'Jerome', 'Munsch', 'jmunsch@domain.com')
(5, 'Robert', 'Aragon', 'raragon@domain.com')
(6, 'Jacki', 'Russell', 'jrussell@domain.com')
(7, 'Lillian', 'Venson', 'lvenson@domain.com')
(8, 'Thomas', 'Conley', 'tconley@domain.com')
(9, 'Charles', 'Jackson', 'cjackson@domain.com')
(10, 'Susan', 'Davis', 'sdavis@domain.com')
(11, 'Gail', 'Watson', 'gwatson@domain.com')
(12, 'Lisa', 'Garrison', 'lgarrison@domain.com')
(13, 'Julie', 'Renfro', 'jrenfro@domain.com')
(14, 'James', 'Heard', 'jheard@domain.com')
(15, 'Danny', 'Reyes', 'dreyes@domain.com')
(16, 'Mark', 'Hall', 'mhall@domain.com')
(17, 'Monte', 'Mceachern', 'mmceachern@domain.com')
(18, 'Christopher', 'Diaz', 'cdiaz@domain.com')
(19, 'Tim', 'Lowe', 'tlowe@domain.com')
(20, 'Lynette', 'Oyola', 'loyola@domain.com')
(21, 'Adriane', 'Morrison', 'amorrison@domain.com')
(22, 'Thomas', 'Santos', 'tsantos@domain.com')
(23, 'Victor', 'Faulkner', 'vfaulkner@domain.com')
(24, 'Albert', 'Iorio', 'aiorio@domain.com')
(25, 'Teresa', 'Kaminski', 'tkaminski@domain.com')
(26, 'Rick', 'Edwards', 'redwards@domain.com')
(27, 'Stacey', 'Peacock', 'speacock@domain.com')
(28, 'Agnes', 'Nelson', 'anelson@domain.com')
(29, 'Mireille', 'Townsend', 'mtownsend@domain.com')
(30, 'Rebecca', 'Zwick', 'rzwick@domain.com')
(31, 'Johnson', 'White', 'jwhite@domain.com')
(32, 'Ashley', 'Borden', 'aborden@domain.com')
(33, 'Marjorie', 'Green', 'mgreen@domain.com')
(34, 'Jerome', 'Munsch', 'jmunsch@domain.com')
(35, 'Robert', 'Aragon', 'raragon@domain.com')
(36, 'Jacki', 'Russell', 'jrussell@domain.com')
(37, 'Lillian', 'Venson', 'lvenson@domain.com')
(38, 'Thomas', 'Conley', 'tconley@domain.com')
(39, 'Charles', 'Jackson', 'cjackson@domain.com')
(40, 'Susan', 'Davis', 'sdavis@domain.com')
(41, 'Gail', 'Watson', 'gwatson@domain.com')
(42, 'Lisa', 'Garrison', 'lgarrison@domain.com')
(43, 'Julie', 'Renfro', 'jrenfro@domain.com')
(44, 'James', 'Heard', 'jheard@domain.com')
(45, 'Danny', 'Reyes', 'dreyes@domain.com')
(46, 'Mark', 'Hall', 'mhall@domain.com')
(47, 'Monte', 'Mceachern', 'mmceachern@domain.com')
(48, 'Christopher', 'Diaz', 'cdiaz@domain.com')
(49, 'Tim', 'Lowe', 'tlowe@domain.com')
(50, 'Lynette', 'Oyola', 'loyola@domain.com')
(51, 'Adriane', 'Morrison', 'amorrison@domain.com')
(52, 'Thomas', 'Santos', 'tsantos@domain.com')
(53, 'Victor', 'Faulkner', 'vfaulkner@domain.com')
(54, 'Albert', 'Iorio', 'aiorio@domain.com')
(55, 'Teresa', 'Kaminski', 'tkaminski@domain.com')
(56, 'Rick', 'Edwards', 'redwards@domain.com')
(57, 'Stacey', 'Peacock', 'speacock@domain.com')
(58, 'Agnes', 'Nelson', 'anelson@domain.com')
(59, 'Mireille', 'Townsend', 'mtownsend@domain.com')
(60, 'Rebecca', 'Zwick', 'rzwick@domain.com')
(61, 'Johnson', 'White', 'jwhite@domain.com')
(62, 'Ashley', 'Borden', 'aborden@domain.com')
(63, 'Marjorie', 'Green', 'mgreen@domain.com')
(64, 'Jerome', 'Munsch', 'jmunsch@domain.com')
(65, 'Robert', 'Aragon', 'raragon@domain.com')
(66, 'Jacki', 'Russell', 'jrussell@domain.com')
(67, 'Lillian', 'Venson', 'lvenson@domain.com')
(68, 'Thomas', 'Conley', 'tconley@domain.com')
(69, 'Charles', 'Jackson', 'cjackson@domain.com')
(70, 'Susan', 'Davis', 'sdavis@domain.com')
(71, 'Gail', 'Watson', 'gwatson@domain.com')
(72, 'Lisa', 'Garrison', 'lgarrison@domain.com')
(73, 'Julie', 'Renfro', 'jrenfro@domain.com')
(74, 'James', 'Heard', 'jheard@domain.com')
(75, 'Danny', 'Reyes', 'dreyes@domain.com')
(76, 'Mark', 'Hall', 'mhall@domain.com')
(77, 'Monte', 'Mceachern', 'mmceachern@domain.com')
(78, 'Christopher', 'Diaz', 'cdiaz@domain.com')
(79, 'Tim', 'Lowe', 'tlowe@domain.com')
(80, 'Lynette', 'Oyola', 'loyola@domain.com')
(81, 'Adriane', 'Morrison', 'amorrison@domain.com')
(82, 'Thomas', 'Santos', 'tsantos@domain.com')
(83, 'Victor', 'Faulkner', 'vfaulkner@domain.com')
(84, 'Albert', 'Iorio', 'aiorio@domain.com')
(85, 'Teresa', 'Kaminski', 'tkaminski@domain.com')
(86, 'Rick', 'Edwards', 'redwards@domain.com')
(87, 'Stacey', 'Peacock', 'speacock@domain.com')
(88, 'Agnes', 'Nelson', 'anelson@domain.com')
(89, 'Mireille', 'Townsend', 'mtownsend@domain.com')
(90, 'Rebecca', 'Zwick', 'rzwick@domain.com')
(91, 'Johnson', 'White', 'jwhite@domain.com')
(92, 'Ashley', 'Borden', 'aborden@domain.com')
(93, 'Marjorie', 'Green', 'mgreen@domain.com')
(94, 'Jerome', 'Munsch', 'jmunsch@domain.com')
(95, 'Robert', 'Aragon', 'raragon@domain.com')
(96, 'Jacki', 'Russell', 'jrussell@domain.com')
(97, 'Lillian', 'Venson', 'lvenson@domain.com')
(98, 'Thomas', 'Conley', 'tconley@domain.com')
(99, 'Charles', 'Jackson', 'cjackson@domain.com')
(100, 'Susan', 'Davis', 'sdavis@domain.com')
(101, 'Gail', 'Watson', 'gwatson@domain.com')
(102, 'Lisa', 'Garrison', 'lgarrison@domain.com')
(103, 'Julie', 'Renfro', 'jrenfro@domain.com')
(104, 'James', 'Heard', 'jheard@domain.com')
(105, 'Danny', 'Reyes', 'dreyes@domain.com')
(106, 'Mark', 'Hall', 'mhall@domain.com')
(107, 'Monte', 'Mceachern', 'mmceachern@domain.com')
(108, 'Christopher', 'Diaz', 'cdiaz@domain.com')
(109, 'Tim', 'Lowe', 'tlowe@domain.com')
(110, 'Lynette', 'Oyola', 'loyola@domain.com')
(111, 'Adriane', 'Morrison', 'amorrison@domain.com')
(112, 'Thomas', 'Santos', 'tsantos@domain.com')
(113, 'Victor', 'Faulkner', 'vfaulkner@domain.com')
(114, 'Albert', 'Iorio', 'aiorio@domain.com')
(115, 'Teresa', 'Kaminski', 'tkaminski@domain.com')
(116, 'Rick', 'Edwards', 'redwards@domain.com')
(117, 'Stacey', 'Peacock', 'speacock@domain.com')
(118, 'Agnes', 'Nelson', 'anelson@domain.com')
(119, 'Mireille', 'Townsend', 'mtownsend@domain.com')
(120, 'Rebecca', 'Zwick', 'rzwick@domain.com')